<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body background="/static/images/a-plane-taking-off-pictures.jpg"> 
    <center>   <br><br><br>
        <div class="container" style="background-color:powderblue;">
            <br><br>
            <div class="alert {{alert}}" role="alert">
                {{msg}}
                </div>
  
  
    <br>
    <button class="btn" style="background-color:black;"><a style="color:white" href="/sepet_sayfasi">SEPET SAYFASINA TEKRAR GİT</a></h2></button><br><br><br>
    <button class="btn" style="background-color:black;"><a style="color:white" href="/sepet_listele">SEPETİ LİSTELE</a></h2></button><br><br>
<br>
    <button class="btn" style="background-color:red"><a style="color:white" href="/">ANA SAYFAYA DÖN</a></button><br><br>
</div>
    </center>
    
    <style>
        
        a
        {
            text-decoration: none;
        }
        a:hover
        {
            color: red;
            text-decoration: none;
            
        }
    </style>
</body>

</html>